.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: black;
}

.circle:not(:last-of-type) {
	margin-right: 10px;
}

/* Color of the cicles when they gets hit*/
.animColor {
	background-color: gold;
}